<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


  <div *ngIf="alert | async as p">

    <h2>Symbol: {{ p.symbol }}, Email: {{ p.email }}</h2>
  </div>

  <div class="example-container">
    <mat-form-field><input #symbol matInput placeholder="Symbol"></mat-form-field>
    <mat-form-field><input #email matInput placeholder="Email"></mat-form-field>
    <mat-form-field><input #price matInput placeholder="Price"></mat-form-field>
    <button mat-flat-button (click)="addAlert(symbol.value, email.value, price.value)">Add Alert</button>
  </div>




</div>
